<form class="row g-3 needs-validation" novalidate>
  <div  class="col-md-4">
    <label for="validationCustom01" class="form-label">Adınız</label>
    <input
      type="text"
      class="form-control"
      id="validationCustom01"
      value=""
      required
    />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Soyadınız</label>
    <input
      type="text"
      class="form-control"
      id="validationCustom02"
      value=""
      required
    />
    <div class="valid-feedback">Looks good!</div>
  </div>

  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Ürün Adı</label>
    <input
      type="text"
      class="form-control"
      id="validationCustom02"
      value=""
      required
    />
    <div class="valid-feedback"></div>
  </div>

  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Fiyat</label>
    <input
      type="text"
      class="form-control"
      id="validationCustom02"
      value=""
      required
    />
      <div class="valid-feedback">Looks good!</div>
  </div>

  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Taksit Seçeneği</label>
    <input
      type="text"
      class="form-control"
      id="validationCustom02"
      value=""
      required
    />
      <div class="valid-feedback">Looks good!</div>
  </div>

  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Ödeme Türü </label>
    <input
      type="text"
      class="form-control"
      id="validationCustom02"
      value=""
      required
    />
      <div class="valid-feedback">Looks good!</div>
  </div>





  <div class="col-12">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="invalidCheck"
        required
      />
      <label class="form-check-label" for="invalidCheck">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">You must agree before submitting.</div>
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
</form>
